.wl-modal--container{
    width: 400px;
    height: 100vh;
    background-color: #f9f9f9;
    position: fixed;
    right: 0px;
    top: 0px;
    text-align: center;
    z-index: 9999;

    -webkit-box-shadow: 7px 6px 39px 5px rgba(0,0,0,0.65);
    -moz-box-shadow: 7px 6px 39px 5px rgba(0,0,0,0.65);
    box-shadow: 7px 6px 39px 5px rgba(0,0,0,0.65);
}

.wl-modal--container.hidden{
    display: none;
}

.wl-modal--search{
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
}

.wl-modal--results{
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}

.wl-modal--result{
    border-left: 5px solid rgba(244, 241, 66, 0.8);
    border-bottom: 1px solid #f9f9f9;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    color: #222;
}

.wl-modal--result:hover{
    background-color: #fdfdfd;
}

.wl-modal--result--text{
    display: inline-block;
    margin-left: 5px;
    width: 80%
}

.wl-modal--result--icon{
    display: inline-block;
    width: 20px;
    height: 100%;
}
